<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Delivery App</title>
</head>
<body>
    <div class="min-h-screen flex items-center justify-center">
        <div class="bg-white p-8 rounded shadow-lg w-96 form-container">
            <h1 class="text-2xl font-semibold mb-4 text-center form-title">{{ title }}</h1>

            {% block content %}{% endblock %}
            <p>Go to <a href="{% url 'login' %}">Login</a></p>
        </div>
    </div>
</body>
</html>