<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Delivery App</title>
    <!-- Include any common CSS styles here -->
    <style>
        /* Add background color */
        body {
            background-color: #f0f5f7; /* Light blue background color */
        }
    </style>
</head>
<body>
    <div class="min-h-screen>
        <div class="bg-white p-8 rounded shadow-lg w-96 flex items-center justify-center"">
            <h1 class="text-2xl font-semibold mb-4 text-center form-title">{{ title }}</h1>

            <div class="text-center">
                {% block content %}{% endblock %}

            </div>
        </div>
    </div>
</body>
</html>